/* CSS document */

body {
  background-color: #232527;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

nav {
  text-align: left;
  text-transform: uppercase;
}

nav ul {
  list-style-type: none;
  padding: 0;
}
nav ul li {
  display: inline;
  margin-left: 1em;
}

nav ul li a {
  color: rgb(240, 240, 240);
  text-decoration: none;
  font-family: "termina", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 13px;
}

a:hover {
  color: #374b4c;
}
 h2, h3, h4, h5, h6 {
  margin: 0;
}

figure {
  margin: 0;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}
h1 {
  width: 7em;
  margin-left: 0.5em;
}
h1,
h2,
h3 {
  text-align: left;
  color: rgb(240, 240, 240);
  font-family: "termina", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
}

p,
li,
label {
  color: rgb(240, 240, 240);
  max-width: 36em;
  min-width: 10em;
  font-family: "termina", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
}

div.container {
  max-width: 80em;
  margin: 0 auto;
}
section {
  max-width: 40em;
  margin: 0 auto;
}
input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
input:nth-of-type(4):checked ~ main figure:nth-of-type(4),
input:nth-of-type(5):checked ~ main figure:nth-of-type(5),
input:nth-of-type(6):checked ~ main figure:nth-of-type(6),
input:nth-of-type(7):checked ~ main figure:nth-of-type(7),
input:nth-of-type(8):checked ~ main figure:nth-of-type(8){
    opacity: 1;
}

h2 {
    margin-left: 0.5em;
}
main.gallery {
    position: relative;
	overflow: auto;
    padding-bottom: calc(60%);
	height:25%;
	
	
}

main.gallery figure {
    margin: 0;
    width: flex;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
	padding-left: 1em;
}

main.gallery figcaption {
    color: rgb(240, 240, 240);
  font-family: "termina", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
 margin: auto;
}
nav.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1em 0em;
    grid-gap: 0.2em;
	margin-left: 1em;
}
h3.gallery{
   color: rgb(240, 240, 240);
  text-decoration: none;
  font-family: "termina", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 13px;
}
div.gallery input {
    display: none;
}
input[name="item"] {
    display: none;
}
figure.gallery img{
		width: 50em;
		height: 50em;
		flex: 1 0 40em;
		object-fit: cover;
	}
@media screen and (min-width: 60em) {
  div.container {
    grid-template-columns: 3fr 1fr;
    display: grid;
    grid-gap: 0 1em;
  }
  header {
    grid-column: 1/3;
  }
  section.article {
    grid-column: 1/3;
  }
  main {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 1em;
    padding-left: 1em;
  }
  aside {
    grid-column: 2/3;
    display: grid;
    padding-right: 1em;
  }
  section.mainstory {
    grid-column: 2/4;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
  }
  section.mainstory a {
    flex: 1 0 10em;
    display: flex;
    flex-direction: column;
  }
  section.mainstory a figure {
    flex: 1 0 0;
  }
  section.mainstory a h3 {
    flex: 0 0 auto;
    margin: 0;
  }
  section.mainstory a p {
    flex: 0 0 auto;
  }
  section.mainstory a figure img {
    height: 95%;
    object-fit: cover;
  }
  section.mainstory figure div img {
    height: 100%;
    opacity: 0;
  }

  section.mainstory figure figcaption {
    flex: 0 0 3rem;
  }
input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
input:nth-of-type(4):checked ~ main figure:nth-of-type(4){
    opacity: 1;
}
  article {
    grid-column: 1/2;
    padding-left: 1em;
  }
  footer {
    padding-left: 0.75em;
  }
	.newsletter{
		margin-left:0.5em;
	}
@media screen and (prefers-color-scheme: light)
{
	body{
		background-color: rgb(240, 240, 240);
		color: #232527;}
	h1 {  
    background-image: url("mblogo copy.png");  
    background-repeat: no-repeat;  
    background-size: contain;  
    }
	h1 img {  
    opacity: 0;  
    }
	p, h2, h3, h4, h5, h6, figcaption, li, ul, nav ul li a, main.gallery figcaption, label{
		color: #232527 
	}
	
}	
}
